<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- google  Icon-->
      <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
      <!-- jQuery -->
      <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
      <title>Hello, modularity!</title>
      <style>
          .profile {
              width: 50px;
              height: 50px;
              border-radius: 70%;
              overflow: hidden;
          }
               .modal_overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
        }

        .modal_window {
            background: white;
            backdrop-filter: blur(13.5px);
            -webkit-backdrop-filter: blur(13.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
            text-align: center;
        }
        
        .image_upload_space{
        outline: 2px dashed black ;
        outline-offset:-10px;
        text-align: center;
        transition: all .15s ease-in-out;
        width: 780px;
        height: 550px;
    }
      </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width: 100%">
      <div class="container-fluid" style="justify-content: space-between; flex-wrap: nowrap; min-width: 1000px">
        <a class="navbar-brand" href="#"><img src="https://cdn.apple-economy.com/news/photo/201701/31523_16465_3732.png" style="width:90px"></a>
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 400px">
          <div>
          <span class="material-symbols-outlined">home</span>
          <span class="material-symbols-outlined">send</span>
          <span id="navbar_add_box" class="material-symbols-outlined">add_box</span>
          <span class="material-symbols-outlined">explore</span>
          <span class="material-symbols-outlined">favorite</span>
              </div>
       </div>
    </nav>

    <div style="display: flex; flex-direction: row; text-align: center; justify-content: center; padding-top: 60px; background-color: ghostwhite">
        <div style="min-width: 600px; height: 1000px; margin-right: 300px">

            <!-- 여기부터 피드박스 -->
           {%  for feed in feeds %}
            <div style="border: solid 1px gray; background-color: white; margin:20px 20px; ">
                    <div style="display: flex; flex-direction: row; align-items: center; ">
                        <div class="box" style="width: 60px; height: 60px">
                        <img src="{{ feed.profile_image }}" class="profile">
                    </div>
                        <div>
                            {{ feed.user_id}}
                        </div>
                    </div>
                <div> <img style="width: 100%" src="{{feed.image}}"> </div>
                <div style="margin:0 20px; display: flex; flex-direction: row; justify-content: space-between">
                    <div >
                        <span class="material-symbols-outlined">favorite</span>
                        <span class="material-symbols-outlined">chat_bubble</span>
                        <span class="material-symbols-outlined">send</span>
                    </div>
                    <div>
                        <span class="material-symbols-outlined">bookmark</span>
                    </div>
                </div>
              <div style="margin-left: 20px;text-align: left; font-size: 15px"> 정다은<b>외 {{ feed.like_count }}명</b>이 좋아합니다. </div>
                <div style="margin-left: 20px;text-align: left; font-size: 15px"><b>{{ feed.user_id }}</b> {{ feed.content }} </div>
                <div style="margin-left: 20px;text-align: left; font-size: 13px"><b>jeongbw</b> 너무 좋네 스페인</div>
                <div style="margin-left: 20px;text-align: left; font-size: 13px"><b>kimhg63</b> 날씨 짱이네</div>
                <div>
                    <input type="text" class="form-control" placeholder="댓글 달기.." style="box-shadow: none; border: none" >
                </div>
            </div>
            {% endfor %}
            <!-- 여기까지 피드박스 -->
        </div>
        <div style="width: 400px; height: 1000px; background: cornsilk; position: fixed; left: 62%">
                <div style="display: flex; flex-direction: row;  ">
                        <div class="box" style="width: 80px; height: 80px">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2texQegHUj0rcJmaocJ90rpDCMSlGW8jbJg&s" class="profile">
                    </div>
                        <div style="margin-left: 5px; text-align: left">
                            <div style="font-weight: bold">
                                allsilver
                            </div>
                            <div style="color: gray">
                                Jeong Daeun
                            </div>
                        </div>
                </div>
            <div style="justify-content: space-between;display: flex; flex-direction: row;">
                <div style="font-weight: bold; color: gray ">
                    회원님을 위한 추천
                </div>
                <a href="#" style="text-decoration: none; color: black; font-weight: bold">모두보기</a>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 10px 10px">
                <div style="display: flex; flex-direction: row; margin-bottom: 10px ">
                            <div class="box" style="width: 30px; height: 30px">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJsGLLbjx1mrKZh8Z8L2oslGz4KwR-UlaX9A&s" class="profile">
                        </div>
                            <div style="margin-left: 30px; text-align: left">
                                <div style="font-weight: bold">
                                    eksne12
                                </div>
                                <div style="color: gray; font-size: 12px">
                                    aheu_233님 외 131명이 팔로우합니다
                                </div>
                            </div>
                    </div>
                    <a href="#" style="margin-top: 4%; text-decoration: none">팔로우</a>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 10px 10px">
                <div style="display: flex; flex-direction: row; margin-bottom: 10px ">
                            <div class="box" style="width: 30px; height: 30px">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQol6yAN0i8Z69pTi6cyyTr_mNuRRcLseUHlQ&s" class="profile">
                        </div>
                            <div style="margin-left: 30px; text-align: left">
                                <div style="font-weight: bold">
                                    effeff11
                                </div>
                                <div style="color: gray; font-size: 12px">
                                    eee_234님 외 14명이 팔로우합니다
                                </div>
                            </div>
                    </div>
                    <a href="#" style="margin-top: 4%; text-decoration: none">팔로우</a>
            </div>
                        <div style="display: flex; flex-direction: row; justify-content: space-between; margin: 10px 10px">
                <div style="display: flex; flex-direction: row; margin-bottom: 10px ">
                            <div class="box" style="width: 30px; height: 30px">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpQY_h884GwIqikk3APIWiPWa8Vu2KdSWA_A&s" class="profile">
                        </div>
                            <div style="margin-left: 30px; text-align: left">
                                <div style="font-weight: bold">
                                    seg1221
                                </div>
                                <div style="color: gray; font-size: 12px">
                                    dsaeg11님 외 51명이 팔로우합니다
                                </div>
                            </div>
                    </div>
                    <a href="#" style="margin-top: 4%; text-decoration: none">팔로우</a>
            </div>
        </div>
    </div>

    <div class="modal_overlay">
        <div class="modal_window">
            <div style="display: flex; flex-direction: row; justify-content: space-between">
                <div style="width: 40px;">

                </div>
                <div>
                    새 이미지 업로드
                </div>
                <div>
                    <span class="material-symbols-outlined">close</span>
                </div>
            </div>
            <div class="image_upload_space">
                여기에 파일을 넣어주세요
            </div>
        </div>

    </div>

    <!-- javascript or jQuery -->
    <script>
        // 이미지 업로드 모달 띄우기 이벤트
        $('#navbar_add_box').click(function (){
            $('.modal_overlay').css({
                display :'flex'
            });
            $(document.body).css({
                overflow : 'hidden'
            });

        })
        // 이미지 업로드 모달 창 동작 이벤드
        $('.image_upload_space')
            .on("dragover", dragOver)   //dragover : 마우스가 창 위에 올라감
            .on("dragleave", dragOver)  //dragleave : 마우스가 창 위에서 사라짐
            .on("drop", uploadFiles);   //drop : 마우스를 드롭
        
        function dragOver(e){
        e.stopPropagation();
        e.preventDefault(); // dragover,dragleave,drop 함수는 자동적으로 새 창에 이미지를 띄우는 함수기 때문에 막아줘야 함
            
            //console.log(e);
        if (e.type == "dragover") {
        $(e.target).css({
            "background-color": "black",
            "outline-offset": "-20px"
        });
        } else {
            $(e.target).css({
                "background-color": "white",
                "outline-offset": "-10px"
            });
            }
        }
        
       function uploadFiles(e){
        e.stopPropagation();
        e.preventDefault();
           
       }
            
        </script>
    
    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js" crossorigin="anonymous"></script>
    <script type="importmap">
    {
      "imports": {
        "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/esm/popper.min.js",
        "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.esm.min.js"
      }
    }
    </script>
    <script type="module">
      import * as bootstrap from 'bootstrap'

      new bootstrap.Popover(document.getElementById('popoverButton'))
    </script>
  </body>

</html>